body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Ubuntu, Verdana;;
  }
  
  #rsp {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  
  #rsp > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 30px;
  }
  
  #rsp > div > div > label {
    font-weight:bold;
  }